<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1012365361180-3fn2uq7t9aj52hd54defqnfm1rd6fu04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012365361180-3fn2uq7t9aj52hd54defqnfm1rd6fu04</string>
	<key>GCM_SENDER_ID</key>
	<string>1012365361180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unanonymous.Messiah-App</string>
	<key>PROJECT_ID</key>
	<string>messiah-events-app</string>
	<key>STORAGE_BUCKET</key>
	<string>messiah-events-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012365361180:ios:3e4532aaedea0cb5</string>
	<key>DATABASE_URL</key>
	<string>https://messiah-events-app.firebaseio.com</string>
</dict>
</plist>
